.header {
  color: white;
  text-align: center;
  padding: 20px;
}

.weather {
  background-color: royalblue;
  text-align: center;
  color: white;
  align-content: flex-end;
  display: inline-block;
}
